<section class="container">
  <div class="fiftyLEFT">
    <img class="avatar" src="assets/images/profile.jpg" />
  </div>
  <div class="fiftyRIGHT">
    <h2>About</h2>
    <p>
      Hi, I’m Ali! I live in San Francisco and studied Health Promotion Disease
      Prevention at the University of Southern California.
    </p>
    <p>
      My passions include nutrition, health coaching, sustainable agriculture,
      yoga, fine arts and helping others.
    </p>
    <p>
      Right now, I am studying Health Coaching at the Institute for Integrative
      Nutrition. Need a Health Coach? Drop me a line!
    </p>
  </div>
</section>

<!-- <section class="inner-container">
  <h4>A little more about me:</h4>
</section> -->
