<section class="container">
  <div class="fiftyLEFT">
    <img class="avatar" src="assets/images/profile.jpg" />
  </div>
  <div class="fiftyRIGHT">
    <h3 class="rozha">Hi! I'm Ali.</h3>
    <p>
      As an undergrad I studied Health Promotion and Disease Prevention at the
      University of Southern California. I currently live in San Francisco where
      I work as a Healthcare Consultant.
    </p>
    <p>
      My passions include nutrition, clean beauty, health coaching, sustainable
      agriculture, yoga, and helping others.
    </p>
    <p>
      This summer I graduated from the Health Coaching Training Program in
      addition to the Coaching Intensive Practicum at the Institute for
      Integrative Nutrition (IIN). I am studying to take the National Board exam
      in February 2021 to become a National Board-Certified Health and Wellness
      Coach (NBC-HWC).
    </p>
    <p>
      Curious about health coaching? Need an accountability partner during this
      pandemic? Drop me a line!
    </p>
  </div>
</section>

<!-- <section class="inner-container">
  <h4>A little more about me:</h4>
</section> -->
