.avatar {
  border-radius: 50%;
  width: 325px;
}

.container {
  width: 90%;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 140px;
}

.container > .fiftyLEFT {
  width: 50%;
  float: left;
  text-align: center;
}

.container > .fiftyRIGHT {
  min-width: 370px;
  width: 50%;
  float: left;
}
