
<section class="container">
  <div class="left">
    <img class="avatar" src="assets/images/COLOR_POP.jpg">
  </div>
  <div class="right">
    <h2>Namaste!</h2>
    <p>
      I believe in humanizing healthcare, I tell stories, and I like
      to solve problems that affect billions of people. It is essential to
      create experiences that <b>matter</b>.
    </p>
    <p>
      Originally from New Jersey, I have a bachelor's degree in Preventing
      Disease from the University of Southern California. Currently, I'm
      pursuing my master's degree in Nutrition at Institute for Integrative
      Nutrition.
    </p>
    <p>
      <b>I'm seeking the role of Health Coach starting Spring 2020.</b>
    </p>
    <p>
      In the meantime, please enjoy my portfolio, filled with work
      that I completed recently. This website was created by my honorable
      boyfriend ¯\_(ツ)_/¯
    </p>
  </div>
</section>

<section class="inner-container">
  <h4>A little more about me:</h4>
</section>
