<mat-toolbar class="nav-bar">
  <div class="left-buttons">
    <a routerLink="/hello-there" class="nav-button">ABOUT</a>
    <a routerLink="/contact-me" class="nav-button">CONTACT</a>
    <a class="nav-button" href="assets/files/Resume 3.31.20.pdf">RESUME</a>
  </div>

  <span class="example-spacer"></span>
  <a routerLink="/hello-there" class="center"> <h1 class="name"> ali ozmeral</h1></a>
  <span class="example-spacer"></span>

  <a href="https://www.linkedin.com/in/alexandra-ozmeral/" class="fa fa-linkedin"></a>
  <a href="https://www.instagram.com/ali_ozmeral/" class="fa fa-circle fa-instagram"></a>
  <a href="mailto:alexandra.ozmeral@gmail.com" class="fa fa-envelope"></a>
</mat-toolbar>
