.example-spacer {
  flex: 1 1 auto;
}

.nav-bar {
  background-color: #b3beb6;
}

.nav-button {
  color: #545f61;
  font-family: bhyf, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 15px;
}

.fa {
  padding: 7px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  margin: 10px 5px;
  background: #dfffa5;
  color: #545f61;
  border-radius: 50%;
}

/* .fa-circle {
  background-color: blue;
} */

.name {
  font-weight: 600;
  font-family: bhyf, sans-serif;
  font-size: 32px;
  color: #dfffa5;
  font-family: "Rozha One", serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ffd39e;
}

.fa:hover {
  color: #ffd39e;
}

@media (max-width: 550px) {
  .hidden-nav-buttons {
    display: none;
  }
  .center {
    padding-right: 70px;
  }
}

@media (min-width: 550px) {
  .hidden-second-bar {
    display: none;
  }
  .center {
    padding-right: 15px;
  }
}

.second-bar {
  margin: auto;
}
